body{
    background: linear-gradient(#111111 30%,#000000);
    font-family: 'Montserrat', sans-serif;
    zoom: auto;
}

.cabezera h1{
    --glow-color: rgb(0, 104, 250);
    color: var(--glow-color);
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2em 0 3em 0;
    font-size: 110px;
   font-weight: bold;
   transition: 0.5s all;
   font-family: 'Orbitron', sans-serif;
   text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
 
}

.cabezera h1:hover{
    color: #0088FF;
    font-size: 120px;
    transition: 0.5s all;
}

.img-logo{
    margin: 5em 0 0 5em;
    width: 400px;
    height: 400px;
}




.cajas{
    width: 99.91%;
        display: inline-block;
        resize: none;
}




.caja1{
    width: 60%;
    display: inline-block;
    margin: 1% 1% 0 3%;
    --glow-color: rgb(17, 93, 233);
    box-shadow: 0 0 .5em var(--glow-color);
    border: var(--glow-color) solid 10px;
    font-family: 'Orbitron', sans-serif;

}

.input-padron1{
    --glow-color: rgb(17, 93, 233);
    box-shadow: 0 0 .5em var(--glow-color);
    border: var(--glow-color) double 10px;
    font-size: 40px;
    width: 95.5%;
    height: 1400px;
    font-size: 100px;
    margin: 50px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
   
}

.caja2{
    
    width: 30%;
    display: inline-block;
    margin: 1% 3% 1% 2%;
    --glow-color: rgb(17, 147, 233);
    box-shadow: 0 0 .5em var(--glow-color);
    border: var(--glow-color) double 10px;
   
}

.input-padron2{
    --glow-color: rgb(17, 147, 233);
    box-shadow: 0 0 .5em var(--glow-color);
    border: var(--glow-color) double 10px;
    font-size: 40px;
    width: 90%;
    height: 1400px;
    font-size: 100px;
    margin: 50px;
    resize: none;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: bold;
}

.btn{
    width: 93%;
    margin: 1em 1em 11em 1em;
}



button {
 --glow-color: rgb(101, 132, 255);
 --glow-spread-color: rgba(83, 83, 250, 0.876);
 --enhanced-glow-color: rgb(206, 212, 255);
 --btn-color: rgb(61, 64, 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: white;
 font-size: 60px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 position: relative;
 transition: all 0.3s;
 font-family: 'Sofia Sans Condensed', sans-serif;
 font-weight: bold;
 margin: 1em 1em 1em 2em;

 
}

#btnDesencriptar{
    margin-left: 0em;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

#limpiar{
    width: 10em;
    position: relative;
    height: 3em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 60px;
    font-weight: bold;
    box-shadow: none;
    margin-left: 16.7em;
    font-family: 'Sofia Sans Condensed', sans-serif;
}
  
  #limpiar::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }
  
  
  #limpiar:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  #limpiar:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }

#btnEncriptar{
    margin: 0 2em 0 2em;
}

footer{
    text-align: center;
    padding: 20px;
    background: #f6f6f6;
}

.logo{
    margin: 8em 0 0 0;
}

.copyright{
    margin-top: 1em;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 2em;
}

.continue-application {
    margin-left: 7em;
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 50px;
    font-weight: 500;
    line-height: 19px;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 100px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
    width: 1000px;
    height: 200px;
    --glow-spread-color: rgba(0, 123, 255, 0.876);
    --glow-color: rgb(0, 174, 255);
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
  }
  
  .continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application > div .folder {
    width: 100px;
    height: 160px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application > div .folder:before, .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application:after {
    --r: 45deg;
  }
  
  .continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }

  .continue-application:active{
    --glow-spread-color: rgba(114, 255, 121, 0.876);
    --glow-color: rgb(35, 255, 79);
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
  }
  